<a href="https://colab.research.google.com/github/YezhouLi/628-Module-3-Group-9/blob/master/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import pymongo as pm
import re
from wordcloud import WordCloud           # Import the wordcloud library

In [0]:
dataPath = "/content/drive/My Drive/data/"

In [0]:
# takes a lot of time to read csv file
# be careful when running this cell
business = pd.read_csv(dataPath + "business.csv",
                      dtype={6:np.string_ , 28:np.string_ , 31:np.string_ })
# column (6, 28, 31) has mixed data type
# load them as string

In [0]:
# takes a lot of time to read csv file
# be careful when running this cell
review = pd.read_csv(dataPath + "review.csv")

In [0]:
# takes a lot of time to read csv file
# be careful when running this cell
tip = pd.read_csv(dataPath + "tip.csv")

In [0]:
# takes a lot of time to read csv file
# be careful when running this cell
user = pd.read_csv(dataPath + "user.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
business.head(5)

                          address  attributes  ... stars state
0     2818 E Camino Acequia Drive         NaN  ...   3.0    AZ
1            30 Eglinton Avenue W         NaN  ...   2.5    ON
2       10110 Johnston Rd, Ste 15         NaN  ...   4.0    NC
3   15655 W Roosevelt St, Ste 237         NaN  ...   5.0    AZ
4  4209 Stuart Andrew Blvd, Ste F         NaN  ...   4.0    NC

[5 rows x 60 columns]

In [0]:
review.head(1)

              business_id  cool  ... useful                 user_id
0  ujmEBvifdJM6h6RLv4wQIg     0  ...    6.0  hG7b0MtEbXx5QzbzE6C_VA

[1 rows x 9 columns]

In [0]:
tip.head(5)

              business_id  ...                 user_id
0  VaKXUpmWTTWDKbpJ3aQdMw  ...  UPw5DWs_b-e2JRBS-t37Ag
1  OPiPeoJiv92rENwbq76orA  ...  Ocha4kZBHb4JK0lOWvE0sg
2  5KheTjYPu1HcQzQFtm4_vw  ...  jRyO2V1pA4CdVVqCIOPc1Q
3  TkoyGi8J7YFjA6SbaRzrxg  ...  FuTJWFYm4UKqewaosss1KA
4  AkL6Ous6A1atZejfZXn1Bg  ...  LUlKtaM3nXd-E4N4uOk_fQ

[5 rows x 5 columns]

In [0]:
user.head(5)

   average_stars  compliment_cool  ...                 user_id        yelping_since
0           4.03                1  ...  l6BmjZMeQD3rDxWUbiAiow  2013-10-08 23:11:33
1           3.63                1  ...  4XChL029mKr5hydo79Ljxg  2013-02-21 22:29:06
2           3.71                0  ...  bc8C_eETBWL0olvFSJJd0w  2013-10-04 00:16:10
3           4.85                0  ...  dD0gZpBctWGdWo9WlGuhlA  2014-05-22 15:57:30
4           4.08               80  ...  MM4RJAeH6yuaN8oZDSt0RA  2013-10-23 07:02:50

[5 rows x 22 columns]

## What we can do 

1. Check what is the language of a given review  
  Wrap it as a function whose input is any string, output is a string indicating the language of the string.  

2. Word Cloud of a store(Good Visualization)  
  The height of each word indicates frequency of the word in the entire review corpus of this store.  
  Also a histogram of ten most common words  
  Try Bigram, Trigram with `Gensim` package
  
3. AFINN Lexicon  
  A common lexicon for sentiment analysis, calculate sentiment based on it.  
  `afinn` python library  
  Check on [Github](https://github.com/fnielsen/afinn/tree/master/afinn/data)  
  [Usage](https://medium.com/@himanshu_23732/sentiment-analysis-with-afinn-lexicon-930533dfe75b) of this lexicon
  
4. Relationship among words
  Clustering words in reviews
  
  
5. Business potential in a given city
Given a city, we provide information to help start a new restaurant, like which kind of food to serve
  
  
6. LDA: Latent Dirichlet Allocation  
  [Elementary Explaination](https://medium.com/@lettier/how-does-lda-work-ill-explain-using-emoji-108abf40fa7d)  

  DBSCAN(Density-Based Spatial Clustering of Applications with Noise)


7. Topic Model
  
  
  
  
  
****
**Note**

1. After good visualization, useful business insight still need human interpretation, any way to automatically generate, detect insight
  
  
  
  
  
  
  
****
**Reference**  
1. [Kaggle, extensive data analysis of yelp](https://www.kaggle.com/ambarish/a-very-extensive-data-analysis-of-yelp/report)

2.

## Latent Dirichlet Allocation

Work solely on the `review` dataset.

In [11]:
# display the `review` dataset
review.head(3)

              business_id  cool  ... useful                 user_id
0  ujmEBvifdJM6h6RLv4wQIg     0  ...    6.0  hG7b0MtEbXx5QzbzE6C_VA
1  NZnhc2sEQy3RmzKTZnqtwQ     0  ...    0.0  yXQM5uF2jS6es16SJzNHfg
2  WTqjgwHlXbSFevF32_DJVw     0  ...    3.0  n6-Gk65cPZL6Uz8qRm3NYw

[3 rows x 9 columns]

In [23]:
# Remove punctuation
review['textTokenized'] = review['text'].map(lambda x: re.sub('[,\.!?]', ' ', str(x)))

# Convert the titles to lowercase
review['textTokenized'] = review['textTokenized'].map(lambda x: x.lower())

# Print out the first rows of papers
review['textTokenized'].head()

0    total bill for this horrible service  over $8g...
1    i *adore* travis at the hard rock's new kelly ...
2    i have to say that this office really has it t...
3    went in for a lunch  steak sandwich was delici...
4    today was my second out of three sessions i ha...
Name: textTokenized, dtype: object

In [0]:
# Join the different processed titles together.
long_string = ','.join(list(review['textTokenized'].values))

# Create a WordCloud object
wordcloud = WordCloud(background_color="white", max_words=1000, contour_width=3, contour_color='steelblue')

# Generate a word cloud
wordcloud.generate(long_string)

# Visualize the word cloud
wordcloud.to_image()